body {
	background-color: #D3DFF0;	
}

#container {
	max-width: 800px;
	height: 100vh;
	margin: 0 auto;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	background-color: #FFFFFF;
}

#header {
	margin-bottom: 5px;
	position: relative;
}

#header img {
	width: 95vw;
	z-index:0;
	max-width: 800px;
}

#progress {
	background-color: #0F2F52;
}

a {
	text-decoration: none;
	font-style: italic;
	font-variant: small-caps;
	font-weight: lighter;
	color: #FFFFFF;
}
	

#selectionInfo, #personalInfo, #paymentInfo, #confirmationInfo {
	margin-right: 40%;
	background-color: #567EAC;
}

#summary {
	float: right;
	width: 39%;	
	background-color: #536E8C;
}

#progress li {
	display: inline;
	padding-right: 10px;
}

#progress ul {
	padding-left: 0px;
	margin-top: 5px;
	margin-bottom: 5px;
}

label {
	display: inline-block;
	text-align: right;
	margin-right: 7px;
	width: 35%;
	max-width: 200px;
	margin-bottom: 5px;
}

#summary label {
	width: 50%;
	text-align: right;
}

h2, h3 {
	font-size: 1.5em;
	margin: 5px;
	padding-left: 5px;
	font-variant: small-caps;
}

h3 {
	font-size: 1.25em;
}
